:host {
	display      : block;
	padding      : 40px 0;
	width        : 460px;
	margin-left  : auto;
	margin-right : auto;
}

app-card {
	background-color : white;
}

app-card h1 {
	padding          : 14px 20px;
	font-size        : 20px;
	margin           : 0;
	font-weight      : 300;
	color            : white;
	background-color : #4F4F4F;
	border-radius    : 3px 3px 0 0;
}

app-card .repositories {
	list-style : none;
	margin     : 0;
	padding    : 0;
}

app-card .repositories > li {
	display     : flex;
	color       : #4F4F4F;
	align-items : center;
	padding     : 20px;
	transition  : all 100ms ease-in-out;
}

app-card .repositories > li:hover {
	background-color : #E8E8E8;
	cursor           : pointer;
}

app-card .repositories > li > span.link {
	flex : 1;
}

app-card .repositories > li > span:not(.link) {
	font-size  : 12px;
	color      : #838383;
	transition : all 100ms ease-in-out;
}

app-card .branch-name {
	margin-right: 20px;
}